<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{{ .Site.Title }}</title>
<meta name="theme-color" content="#2C2E2F" />
<meta name="keywords" content="Webstack Hugo theme">
<meta name="description" content="Webstack Hugo theme">
<meta property="og:type" content="article">
<meta property="og:url" content="">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:image" content="">
<meta property="og:site_name" content="">
<link rel="shortcut icon" href="../assets/favicon.png">
<link rel="apple-touch-icon" href="../assets/app-ico.png">
<link rel='stylesheet' id='font-awesome-css'  href='../assets/css/font-awesome.min.css?ver=4.7.0' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-css'  href='../assets/css/bootstrap.css?ver=3.4.1' type='text/css' media='all' />
<link rel='stylesheet' id='nav-css'  href='../assets/css/nav.css?ver=2.0.0' type='text/css' media='all' />
<script type='text/javascript' src='../assets/js/jquery-1.11.1.min.js'></script>
<!-- <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?86cead3bcab6a1417189e6138d69262";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script> -->
</head>
<body class="page-body {{ if .Site.Params.darkmode.enable }}black{{ else }}white{{ end }}">
    <div class="page-container">
        <div class="sidebar-menu toggle-others fixed">
            <div class="sidebar-menu-inner">
                <header class="logo-env">
                    <!-- logo -->
                    <div class="logo">
                        <a href="../index.html" class="logo-expanded">
                            <img src="../assets/images/logo@2x.png" height="40" alt="" />
                        </a>
                        <a href="../index.html" class="logo-collapsed">
                            <img src="../assets/images/logo-collapsed@2x.png" height="40" alt="">
                        </a>
                    </div>
                    <div class="mobile-menu-toggle visible-xs">
                        <a href="#" data-toggle="mobile-menu">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                </header>
                <ul id="main-menu" class="main-menu">
                    {{ range .Site.Data.webstack }}
                    {{ if .list }}
                        <li>
                            <a>
                               <i class="fa {{ .icon }} fa-fw"></i>
                               <span class="title">{{ .taxonomy }}</span>
                            </a>
                            <ul>
                                {{ range .list }}    
                                <li>
                                    <a href="../#{{ md5 .term }}" class="smooth">{{ .term }}</a>
                                </li>
                                {{ end }}
                            </ul>
                        </li>
                    {{ else }}
                        <li>
                            <a href="../#{{ md5 .taxonomy }}" class="smooth">
                               <i class="fa {{ .icon }} fa-fw"></i>
                               <span class="title">{{ .taxonomy }}</span>
                            </a>
                        </li> 
                    {{ end }}
                    {{ end }}
                    <li>
                        <a href="../about">
                            <i class="fa fa-heart fa-fw"></i>
                            <span class="tooltip-blue">关于本站</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-content page">
            <div class="container">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <div class="panel panel-default">
                            <h1 class="h2">{{ .Title }}</h1>
                            <div class="panel-body mt-2">
                                <div class="row">
                                    <div class="col-sm-12">
                                        {{ .Content }}
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="main-footer sticky footer-type-1">
                <div class="go-up">
                    <a href="#" rel="go-top">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
                <div class="footer-inner">
                    <div class="footer-text">
                        Copyright © {{ now.Format "2006"}} <a href=""><strong>{{ if .Site.Copyright }}{{ .Site.Copyright | safeHTML }}{{ else }}iplaycode{{ end }}</strong></a>&nbsp;&nbsp;Design by <a href="http://viggoz.com" target="_blank"><strong>Viggo</strong></a>&nbsp;&nbsp;Themes by <a href="https://github.com/iplaycode" target="_blank"><strong>iplaycode</strong></a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
<script type='text/javascript' src='../assets/js/bootstrap.min.js?ver=3.4.1'></script>
<script type='text/javascript' src='../assets/js/TweenMax.min.js?ver=1.13.1'></script>
<script type='text/javascript' src='../assets/js/perfect-scrollbar.min.js?ver=0.5.8'></script>
<script type='text/javascript' src='../assets/js/nav.js?ver=2.0.0'></script>
<script type='text/javascript' src='../assets/js/lazyload.min.js?ver=2.0.0'></script>
</body>
</html>